{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0&icon_names=verified_user" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CashTracker/styles.css' %}">
</head>
<body>
     <div class="m-3 overflow-y-auto overflow-x-hidden  border-start border-4 border-primary rounded shadow" style="height: 85%; width: 98%;">
        <div class="d-flex justify-content-between">
            <div class="m-3">
                <p class="m-0 fw-bold text-primary">CCDO CASH RETIREMENT FORM</p>
                <P class="m-0">Chipembere Community Development organisation</P>
                <p class="m-0">Account: CHIPEMBERE COMMUNITY DEVELOPMENT ORGANISATION</p>
                <P class="m-0">Account Number: 10033647388364</P>
            </div>

            <div class="text-end text-primary m-4 rounded">
                <p class="border border-primary p-1 rounded">Cash Retirement</p>
            </div>
        </div>

        <form class="bg-white border-primary" method="POST">
            {% csrf_token %}
            <div class="mx-3">
                <p class="text-end me-3 fw-bold">Retirement No: CR-76560</p>
            </div>

            <div class="d-flex justify-content-between">
                <div class="w-50 mx-3">
                    <!-- <label for="voucher" class="form-label">Voucher</label>
                    <input type="text" id="voucher" class="form-control"> -->

                    <label for="{{ form.voucherid.id_for_label }}" class="form-label d-block">Voucher</label>
                    {{ form.voucherid|add_class:"form-control"|attr:"id:voucherid" }}
                    {{ form.voucherid.errors }}

                    <label for="date" class="form-label">Date</label>
                    <input type="date" id="date" name="date" class="form-control" value="{{ retirement.date|date:'Y-m-d' }}" readonly>   
                </div>

                <div class="w-50 mx-3">
                    <!-- <label for="requisition" class="form-label">Requesition</label>
                    <input type="text" id="requisition" class="form-control"> -->

                    <label for="{{ form.requisitionid.id_for_label }}" class="form-label d-block">Requisition</label>
                    {{ form.requisitionid|add_class:"form-control"|attr:"id:requisitionid"|attr:"readonly:readonly" }}
                    {{ form.requisitionid.errors }}

                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" id="amount" class="form-control" readonly>
                    
                </div>

            </div>

            <div class="d-flex justify-content-between mx-3 mt-3 py-0">
                <div class="fw-bold">Cash Used For</div>
                <!-- <div class="btn btn-primary me-3">Add Expense</div> -->
            </div>

            <div class="d-flex m-3 bg-white rounded w-100 my-0 py-0">
                <table class="table table-striped table-bordered table-hover p-0" style="width: 97%;">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Reason</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                    </thead>

                    <tbody id="tablebody">
                        <!-- <tr id="tablerow">
                            <td><input type="text" class="form-control"></td>
                            <td><input type="number" step="0.001" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between m-3">
                <div class="w-25 bg-success rounded">
                    <p class="text-center">Total Used</p>
                    <p class="fw-bold text-center" id="used">MWK 0.00</p>
                </div>

                <div class="w-25 bg-primary rounded">
                    <p class="text-center">Amount Requested</p>
                    <p class="fw-bold text-center" id="requested">MWK 0.00</p>
                </div>

                <div class="w-25 bg-danger rounded">
                    <p class="text-center">Balance</p>
                    <p class="fw-bold text-center" id="balance">MWK 0.00</p>
                </div>
            </div>

            <div class="m-3 fw-bold fs-5">Required Attachments</div>

            <div class="d-flex justify-content-between m-3">
                <div class="w-50 me-3 my-3">
                    <div class="bg-success w-100 rounded">
                        <p>Proof of Payment</p>
                        {% if form.instance.proofofpay %}
                            <a href="{{ form.instance.proofofpay.url }}" target="_blank" class="btn btn-outline-primary">
                                View Proof of Payment
                            </a>
                        {% else %}
                            <p class="text-muted">No proof of payment uploaded.</p>
                        {% endif %}
                    </div>

                    <div class="bg-success w-100 rounded my-3">
                        <p>Participarts Payment Form</p>
                        {% if form.instance.participantspay %}
                            <a href="{{ form.instance.participantspay.url }}" target="_blank" class="btn btn-outline-primary">
                                View Partcipants Payment Form
                            </a>
                        {% else %}
                            <p class="text-muted">No Participants Payment Form uploaded.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="w-50">
                    <div class="bg-success w-100 rounded my-3">
                        <p>Receipts</p>
                        {% if form.instance.receipt %}
                            <a href="{{ form.instance.receipt.url }}" target="_blank" class="btn btn-outline-primary">
                                View Receipt
                            </a>
                        {% else %}
                            <p class="text-muted">No receipt uploaded.</p>
                        {% endif %}
                    </div>

                    <div class="bg-success w-100 rounded my-3">
                        <p>Cash Payment Form</p>
                        {% if form.instance.cashpay %}
                            <a href="{{ form.instance.cashpay.url }}" target="_blank" class="btn btn-outline-primary">
                                View Cash Payment Form
                            </a>
                        {% else %}
                            <p class="text-muted">No cash payment form uploaded.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

          

             <textarea type="text" id="comments" name="comments" placeholder="Comments" class="form-control mx-3 my-0" rows="3" style="width: 98%;"></textarea>

            <div class="mx-3 my-1 d-flex ms-auto w-50">
                <button type="submit" class="d-inline btn btn-danger ms-auto" name="action" value="reject"><img src="{% static 'CashTracker/icons/close.svg' %}" alt="reject">Reject Requisition</button>
                <button type="submit" class="d-inline btn btn-primary ms-auto" name="action" value="send_back"><img src="{% static 'CashTracker/icons/back.svg' %}" alt="send back">Send Back Requisition</button>
                <button type="submit" class="d-inline btn btn-success ms-auto" name="action" value="accept"><img src="{% static 'CashTracker/icons/check.svg' %}" alt="save">Accept Requisition</button>
            </div>
            
        </form>
        <!-- <div class="h-25"></div> -->
    </div>


<script>
        document.addEventListener('DOMContentLoaded', function(){
            
                    const reqid = document.getElementById('requisitionid').value;
                    fetch(`/items/${reqid}/`)
                        .then(response => response.json())
                        .then(data =>{
                            document.getElementById('tablebody').innerHTML = "";
                            
                            // document.getElementById('amount').value = data.amount;
                            
                            const items = data.item_list;
                            for (const item of items){
                                const row = `
                                    <tr id="tablerow">
                                        <td><input type="text" class="form-control" value="${item.itemname || ''}" readonly></td>
                                        <td><input type="text" class="form-control reason" value="${item.reason || ''}" readonly></td>
                                        <td><input type="number" step="0.001" class="form-control unitprice" value="${item.unitprice || ''}" readonly></td>
                                        <td><input type="number" step="0.001" class="form-control quantity" value="${item.quantity || ''}" readonly></td>
                                        <td><input type="number" step="0.001" class="form-control totalprice" value="${item.totalprice || ''}" readonly></td>
                                        
                                    </tr>`
                                document.getElementById('tablebody').insertAdjacentHTML('beforeend', row);
                                
                            }
                            document.getElementById('requested').textContent = `MK ${data.amount}`;
                            document.getElementById('used').textContent = `MK ${data.amount}`;
                            document.getElementById('amount').value = data.amount;
                        })});
                
            


        document.getElementById('tablebody').addEventListener( 'input', function(e){
        if(e.target.classList.contains('quantity') || e.target.classList.contains('unitprice')){
            const row = e.target.closest('tr');
            const price = parseFloat(row.querySelector('.unitprice').value) || 0;
            const quantity = parseFloat(row.querySelector('.quantity').value) || 0;
            const total = price * quantity;

            const totalfield = row.querySelector('.totalprice');
            if(totalfield){
                totalfield.value = total.toFixed(2)
            }
            updateGrandTotal();
        }
    })

    // const usedstr = document.getElementById('used').value;
    // const usednumber = parseFloat(usedstr.replace(/[^\d.]/g, '')); 

    // const requestedstr = document.getElementById('used').value;
    // const requestednumber = parseFloat(usedstr.replace(/[^\d.]/g, '')); 

    // const balance = requestednumber - usednumber;

    // document.getElementById('balance').textContent = `MWK ${balance}`;

    function updateGrandTotal(){
        let sum = 0;
        document.querySelectorAll('.totalprice').forEach(function(input){
            let val = parseFloat(input.value) || 0;
            sum += val;
        })
        document.getElementById('used').textContent = 'MWK ' + sum.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});

        const usednumber = sum;
        const requestedstr = document.getElementById('requested').textContent;
        const requestednumber = parseFloat(requestedstr.replace(/[^\d.]/g, '')) || 0;
        const balance = requestednumber - usednumber;
        document.getElementById('balance').textContent = `MWK ${balance.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})}`;
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>


</body>
</html>