{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0&icon_names=verified_user" />
    <link rel="stylesheet" href="{% static 'CashTracker/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CashTracker/styles.css' %}">
</head>
<body>
    <div class="w-100 rounded ">
        <div class="d-flex justify-content-between">
            <div class="m-3">
                <p class="m-0 fw-bold text-primary">CCDO CASH PAYMENT VOUCHER</p>
                <P class="m-0">Chipembere Community Development organisation</P>
                <p class="m-0">Account: CHIPEMBERE COMMUNITY DEVELOPMENT ORGANISATION</p>
                <P class="m-0">Account Number: 10033647388364</P>
            </div>

            <div class="text-end text-primary m-4 rounded">
                <p class="border border-primary p-1 rounded">Payment Voucher</p>
            </div>
        </div>

        <form class="bg-white border-primary" method="POST">
            {% csrf_token %}

            <div class="mx-3">
                <p class="text-end me-3 fw-bold">Voucher No: PV-00{{ voucher.ID }}</p>
            </div>
            

            <div class="d-flex justify-content-between">
                <div class="w-50 mx-3">
                    <label for="{{ form.requisitionid.id_for_label }}" class="form-label d-block">Requisition</label>
                    {{ form.requisitionid|add_class:"form-control"|attr:"id:requisitionid"|attr:"readonly:readonly" }}
                    {{ form.requisitionid.errors }}

                    <!-- <label for="requisition" class="form-label mb-0">Requisition</label>
                    <input type="text" id="requisition" class="form-control"> -->

                    <label for="date" class="form-label mb-0">Date</label>
                    <input type="date" id="date" name="date" class="form-control" value="{{ voucher.date|date:'Y-m-d' }}" readonly>
                    
                </div>

                <div class="w-50 mx-3">
                    <label for="dept" class="form-label">Department</label>
                    <input type="text" id="dept" class="form-control" readonly>  
                    
                    <label for="amount" class="form-label m-0">Amount (MWK)</label>
                    <input type="number" id="amount" step="0.001" class="form-control m-0" readonly> 
                </div>
            </div>

           
            
            <!-- <label for="purpose" class="form-label ms-3 mb-0">Purpose</label>
            <textarea type="text" id="purpose" class="form-control mx-3" rows="5"></textarea> -->
            <div style="width: 98%;">
            <label for="{{ form.purpose.id_for_label }}" class="form-label d-block mx-3">Purpose</label>
            {{ form.purpose|add_class:"form-control mx-3"|attr:"readonly:readonly" }}
            {{ form.purpose.errors }}
            </div>

             <textarea type="text" id="comments" name="comments" placeholder="Comments" class="form-control mx-3 my-3" rows="3" style="width: 98%;"></textarea>

            <div class="mx-3 my-1 d-flex ms-auto w-50">
                <button type="submit" class="d-inline btn btn-danger ms-auto" name="action" value="reject"><img src="{% static 'CashTracker/icons/close.svg' %}" alt="reject">Reject Requisition</button>
                <button type="submit" class="d-inline btn btn-primary ms-auto" name="action" value="send_back"><img src="{% static 'CashTracker/icons/back.svg' %}" alt="send back">Send Back Requisition</button>
                <button type="submit" class="d-inline btn btn-success ms-auto" name="action" value="accept"><img src="{% static 'CashTracker/icons/check.svg' %}" alt="save">Accept Requisition</button>
            </div>
            
            
        </form>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function(){
                    
                    const reqid = document.getElementById('requisitionid');
                    const req = reqid.value;
                    fetch(`/items/${req}/`)
                        .then(response => response.json())
                        .then(data =>{
                            document.getElementById('dept').value = data.dept;
                            document.getElementById('amount').value = data.amount;
                                
        })})

</script>


<script src="{% static 'CashTracker/bootstrap.bundle.min.js' %}"></script>


</body>
</html>