{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0&icon_names=verified_user" />
    <link rel="stylesheet" href="{% static 'CashTracker/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CashTracker/styles.css' %}">
</head>
<body>
    <div class="w-100 rounded ">

        <div class="my-3">
            <p class="m-0 fw-bold text-primary">CCDO CASH PAYMENT VOUCHER</p>
            <P class="m-0">Chipembere Community Development organisation</P>
            <p class="m-0">Account: CHIPEMBERE COMMUNITY DEVELOPMENT ORGANISATION</p>
            <P class="m-0">Account Number: 10033647388364</P>
        </div>


        <div class="bg-white border-primary">
            {% csrf_token %}

            <div class="mx-3">
                <p class="text-end fw-bold">Voucher No: PV-00{{ voucher.ID }}</p>
            </div>
            

            <div class="d-flex justify-content-between">
                <div class="w-50">
                    <label for="requisitionid" class="form-label d-block">Requisition</label>
                    <p id="requisitionid" class=" bg-secondary text-white me-3">{{ voucher.requisitionid }}</p>

                    <!-- <label for="requisition" class="form-label mb-0">Requisition</label>
                    <input type="text" id="requisition" class="form-control"> -->

                    <label for="date" class="form-label mb-0 d-block">Date</label>
                    <p id="requisitionid" class=" bg-secondary text-white me-3">{{ voucher.date }}</p>
                    
                </div>

                <div class="w-50">
                    <label for="dept" class="form-label">Department</label>
                    <p id="dept" class=" bg-secondary text-white">{{ requisition.requestingdept }}</p>  
                    
                    <label for="amount" class="form-label m-0">Amount (MWK)</label>
                    <p id="amount" class=" bg-secondary text-white">{{ total_amount }}</p> 
                </div>
            </div>

           
            
            <!-- <label for="purpose" class="form-label ms-3 mb-0">Purpose</label>
            <textarea type="text" id="purpose" class="form-control mx-3" rows="5"></textarea> -->
        <div>
            <label for="purpose" class="form-label d-block">Purpose</label>
            <textarea type="text" id="comments" placeholder="Comments" class="form-control my-3" rows="3">{{ voucher.purpose }}</textarea>

            
            
        </div>
    </div>

    <div>
        <p>PREPARED BY:         {{ voucher.createdby }}</p>
        <p>CHECKED BY:          {{ finance.username }}</p>
        <p>APPROVED BY:         {{ programs.username }}</p>
        <p>AUTHORISED BY:       {{ ed.username }}</p>
    </div>
    <p class="fw-bold text-dark fs-5"><strong>NB: This form is supposed to always be correct. If you are not sure if it's legit download a new copy in the system or let it be downloaded while you are there</strong></p>


</body>
</html>