{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0&icon_names=verified_user" />
    <link rel="stylesheet" href="{% static 'CashTracker/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CashTracker/styles.css' %}">
</head>
<body class="container-fluid overflow-hidden h-100 w-100 m-0 p-0">

    <div class="row h-100 w-100 m-0 p-0">
        <div class="container-fluid col-2 d-flex flex-column h-100 m-0 p-0 overflow-hidden">
            <div class="row ch">
                <div class="col-4 m-0">
                    <img src="{% static 'CashTracker/icons/logo-small.PNG' %}" class="my-0 w-100 h-100" alt="CCDO logo">
                </div>
                <div class="col-8 mx-0">
                    <p class="my-0 fw-bold">CCDO</p>
                    <p class="my-0 fs-6 text-dark">Cash Tracking</p>
                </div>
            </div>

            <div class="container-fluid w-100  mb-2" style="background-color: rgb(189, 238, 238);">
                <p class="m-0  fw-bold">{{ request.user.username }}</p>
                <p class="m-0 p-0 text-dark">Logged in</p>
            </div>

            <div class="w-100">
                {% block dashboard %}
                <a href="{% url 'dashboard' %}" class="icon btn btn-outline-primary btn-link text-decoration-none text-dark w-100 text-start m-1">
                    <img src="{% static 'CashTracker/icons/dashboard.svg' %}" alt="dashboard">
                    <p class="d-inline"> Dashboard </p>
                </a>
                {% endblock %}


                {% if request.user.role not in 'Finance Officer, ED, Programs Manager' %}
                {% block requisition %}
                <a href="{% url 'requisition' %}" class="icon btn btn-outline-primary btn-link text-decoration-none text-dark w-100 text-start m-1">
                    <img src="{% static 'CashTracker/icons/add.svg' %}" alt="requisition">
                    <p class="d-inline"> New Cash Requisition </p>
                </a>
                {% endblock %}

                {% block voucher %}
                <a href="{% url 'voucher' %}" class="icon btn btn-outline-primary btn-link text-decoration-none text-dark w-100 text-start m-1">
                    <img src="{% static 'CashTracker/icons/add.svg' %}" alt="payment voucher">
                    <p class="d-inline"> New Payment Voucher </p>
                </a>
                {% endblock %}

                {% block retirement %}
                <a href="{% url 'retirement' %}" class="icon btn btn-outline-primary btn-link text-decoration-none text-dark w-100 text-start m-1">
                    <img src="{% static 'CashTracker/icons/add.svg' %}" alt="retirement">
                    <p class="d-inline"> New Cash Retirement </p>
                </a>
                {% endblock %}
                {% endif %}

                {% block download %}
                <a href="{% url 'download' %}" class="icon btn btn-outline-primary btn-link text-decoration-none text-dark w-100 text-start m-1">
                    <img src="{% static 'CashTracker/icons/download.svg' %}" alt="download">
                    <p class="d-inline"> Download Forms </p>
                </a>
                {% endblock %}

            </div>

            <div class="mt-auto shadow">
                <a href="" class="icon btn btn-outline-primary btn-link text-decoration-none text-dark w-100 text-start m-1">
                    <img src="{% static 'CashTracker/icons/settings.svg' %}" alt="settings">
                    <p class="d-inline"> Settings </p>
                </a>

                
                    
                    <!-- <p class="d-inline"> Logout </p> -->
                    <form method="POST", action="{% url 'logout'%}" class="icon btn btn-link text-decoration-none text-dark w-100 text-start m-1">
                        {% csrf_token %}
                        <img src="{% static 'CashTracker/icons/logout.svg' %}" alt="logout">
                        <button class="border-0">Logout</button>
                    </form>
                
            </div>
            
            
        </div>

        <div class="container-fluid col-10 h-100 m-0 p-0" style="background-color: rgba(126, 184, 179, 0.534);">
            <div class="d-flex justify-content-between container-fluid border-bottom border-4 border-primary bg-white w-100 mx-0 p-0">
                <h3 class="w-100 pt-3">CCDO Cash Tracking</h3>
                <div class="border border-dark w-25 d-flex justify-content-center rounded m-1">
                    <img src="{% static 'CashTracker/icons/person.svg' %}" alt="person">
                    <p class="d-inline pt-3">{{ request.user.username }}</p>
                </div>
            </div>

            {% block content %}
            {% endblock %}


        </div>
    </div>

    <script src="{% static 'CashTracker/bootstrap.bundle.min.js' %}"></script>
</body>
</html>