{% extends "CashTracker/base.html" %}
{% load static %}

{% block dashboard %}
    <a href="{% url 'dashboard' %}" class="icon btn btn-primary w-100 text-start m-1">
        <img src="{% static 'CashTracker/icons/dashboard.svg' %}" alt="dashboard">
        <p class="d-inline"> Dashboard </p>
    </a>
{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

{% if request.user.role == 'Finance Officer' %}
<div class="d-flex justify-content-between container-fluid w-100 mx-0 p-0">
    <div class="container-fluid border-start border-4 border-primary bg-warning text-white w-25 m-3 rounded">
        <p>Forms Sent Back</p>
        <p class="fw-bold">{{ back_fin_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-success text-white w-25 m-3 rounded">
        <p>Reviewed Forms</p>
        <p class="fw-bold">{{ reviewed_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-danger text-white w-25 m-3 rounded">
        <p>Rejected Forms</p>
        <p class="fw-bold">{{ rej_fin_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-primary text-white w-25 m-3 rounded">
        <p>Awaiting Review</p>
        <p class="fw-bold">{{ submitted_count }}</p>
    </div>
</div>

{% elif request.user.role == 'Programs Manager' %}
<div class="d-flex justify-content-between container-fluid w-100 mx-0 p-0">
    <div class="container-fluid border-start border-4 border-primary bg-warning text-white w-25 m-3 rounded">
        <p>Forms Sent Back</p>
        <p class="fw-bold">{{ back_programs_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-success text-white w-25 m-3 rounded">
        <p>Approved Forms</p>
        <p class="fw-bold">{{ approved_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-danger text-white w-25 m-3 rounded">
        <p>Rejected Forms</p>
        <p class="fw-bold">{{ rej_programs_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-primary text-white w-25 m-3 rounded">
        <p>Awaiting Approval</p>
        <p class="fw-bold">{{ reviewed_count }}</p>
    </div>
</div>

{% elif request.user.role == 'ED' %}
<div class="d-flex justify-content-between container-fluid w-100 mx-0 p-0">
    <div class="container-fluid border-start border-4 border-primary bg-warning text-white w-25 m-3 rounded">
        <p>Forms Sent Back</p>
        <p class="fw-bold">{{ back_ed_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-success text-white w-25 m-3 rounded">
        <p>Authorised Forms</p>
        <p class="fw-bold">{{ authorised_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-danger text-white w-25 m-3 rounded">
        <p>Rejected Forms</p>
        <p class="fw-bold">{{ rej_ed_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-primary text-white w-25 m-3 rounded">
        <p>Awaiting Authorisation</p>
        <p class="fw-bold">{{ approved_count }}</p>
    </div>
</div>

{% else %}
<div class="d-flex justify-content-between container-fluid w-100 mx-0 p-0">
    <div class="container-fluid border-start border-4 border-primary bg-warning text-white w-25 m-3 rounded">
        <p>Forms Sent Back</p>
        <p class="fw-bold">{{ user_back_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-success text-white w-25 m-3 rounded">
        <p>Authorised Forms</p>
        <p class="fw-bold">{{ completed_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-danger text-white w-25 m-3 rounded">
        <p>Rejected Forms</p>
        <p class="fw-bold">{{ user_rej_count }}</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-primary text-white w-25 m-3 rounded">
        <p>In Process</p>
        <p class="fw-bold">{{ user_process_count }}</p>
    </div>
</div>
{% endif %}

{% if requisitions or vouchers or retirements %}
<div class="container-fluid table-responsive border-primary  bg-white mx-3 my-0" style="width: 98%; height: 68%;">
    <h3>Status Forms</h3>
    <p>Showing the status of each form in the approval hierarchy</p>
    <table class="table table-striped table-bordered table-hover mx-auto p-0" style="width: 98%;">
        <thead>
            
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date Submitted</th>
                <th>Status</th>
                <!-- <th>Actions</th> -->
            </tr>
            
        </thead>

        <tbody>
            {% for requisition in requisitions %}
            <tr>
                <td>{{ requisition.ID }}</td>
                <td>Requisition</td>
                <td>{{requisition.total }}</td>
                <td>{{ requisition.date }}</td>
                <td>{{ requisition.status }}</td>
                <!-- <td><button class="btn btn-primary">View</button> <button class="btn btn-danger">Download</button></td> -->
            </tr>
            {% endfor %}


            {% for voucher in vouchers %}
            <tr>
                <td>PV-00{{ voucher.ID }}</td>
                <td>Voucher</td>
                <td>{{ voucher.total }}</td>
                <td>{{ voucher.date }}</td>
                <td>{{ voucher.status }}</td>
                <!-- <td><button class="btn btn-primary">View</button> <button class="btn btn-danger">Download</button></td> -->
            </tr>
            {% endfor %}

            {% for retirement in retirements %}
            <tr>
                <td>CR-00{{ retirement.ID }}</td>
                <td>Retirement</td>
                <td>{{ retirement.total }}</td>
                <td>{{ retirement.date }}</td>
                <td>{{ retirement.status }}</td>
                <!-- <td><button class="btn btn-primary">View</button> <button class="btn btn-danger">Download</button></td> -->
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}

{% if requisitionsadmin or vouchersadmin or retirementsadmin %}
    {% if request.user.role == "Finance Officer" %}
    <div class="container-fluid table-responsive border-primary  bg-white mx-3 my-0" style="width: 98%; height: 68%;">
    <h3>Forms Requiring Your Attention</h3>
    <p>Showing forms which needs your review and feedback</p>
    <table class="table table-striped table-bordered table-hover mx-auto p-0" style="width: 98%;">
        <thead>
            
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Date Submitted</th>
                <th>Submitted By</th>
                <th>Actions</th>
            </tr>
            
        </thead>

            <tbody>
                {% for requisitionadmin in requisitionsadmin %}
                {% if requisitionadmin.status == "SUBMITTED" %}
                    <tr>
                        <td>{{ requisitionadmin.ID }}</td>
                        <td>Requisition</td>
                        <td>{{ requisitionadmin.date }}</td>
                        <td>{{ requisitionadmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'requisitionreview' requisitionadmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

                {% for voucheradmin in vouchersadmin %}
                {% if voucheradmin.status == "SUBMITTED" %}
                    <tr>
                        <td>PV-00{{ voucheradmin.ID }}</td>
                        <td>Voucher</td>
                        <td>{{ voucheradmin.date }}</td>
                        <td>{{ voucheradmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'voucherreview' voucheradmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

                {% for retirementadmin in retirementsadmin %}
                {% if retirementadmin.status == "SUBMITTED" %}
                    <tr>
                        <td>CR-00{{ retirementadmin.ID }}</td>
                        <td>Retirement</td>
                        <td>{{ retirementadmin.date }}</td>
                        <td>{{ retirementadmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'retirementreview' retirementadmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}


    {% if request.user.role == "Programs Manager" %}
    <div class="container-fluid table-responsive border-primary  bg-white mx-3 my-0" style="width: 98%; height: 68%;">
    <h3>Forms Requiring Your Attention</h3>
    <p>Showing forms which needs your review and feedback</p>
    <table class="table table-striped table-bordered table-hover mx-auto p-0" style="width: 98%;">
        <thead>
            
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Date Submitted</th>
                <th>Submitted By</th>
                <th>Actions</th>
            </tr>
            
        </thead>

            <tbody>
                {% for requisitionadmin in requisitionsadmin %}
                {% if requisitionadmin.status == "Reviewed" %}
                    <tr>
                        <td>{{ requisitionadmin.ID }}</td>
                        <td>Requisition</td>
                        <td>{{ requisitionadmin.date }}</td>
                        <td>{{ requisitionadmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'requisitionreview' requisitionadmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

                {% for voucheradmin in vouchersadmin %}
                {% if voucheradmin.status == "Reviewed" %}
                    <tr>
                        <td>PV-00{{ voucheradmin.ID }}</td>
                        <td>Voucher</td>
                        <td>{{ voucheradmin.date }}</td>
                        <td>{{ voucheradmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'voucherreview' voucheradmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

                {% for retirementadmin in retirementsadmin %}
                {% if retirementadmin.status == "Reviewed" %}
                    <tr>
                        <td>CR-00{{ retirementadmin.ID }}</td>
                        <td>Retirement</td>
                        <td>{{ retirementadmin.date }}</td>
                        <td>{{ retirementadmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'retirementreview' retirementadmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}

    {% if request.user.role == "ED" %}
    <div class="container-fluid table-responsive border-primary  bg-white mx-3 my-0" style="width: 98%; height: 68%;">
    <h3>Forms Requiring Your Attention</h3>
    <p>Showing forms which needs your review and feedback</p>
    <table class="table table-striped table-bordered table-hover mx-auto p-0" style="width: 98%;">
        <thead>
            
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Date Submitted</th>
                <th>Submitted By</th>
                <th>Actions</th>
            </tr>
            
        </thead>

            <tbody>
                {% for requisitionadmin in requisitionsadmin %}
                {% if requisitionadmin.status == "Approved" %}
                    <tr>
                        <td>{{ requisitionadmin.ID }}</td>
                        <td>Requisition</td>
                        <td>{{ requisitionadmin.date }}</td>
                        <td>{{ requisitionadmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'requisitionreview' requisitionadmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

                {% for voucheradmin in vouchersadmin %}
                {% if voucheradmin.status == "Approved" %}
                    <tr>
                        <td>{{ voucheradmin.ID }}</td>
                        <td>Voucher</td>
                        <td>{{ voucheradmin.date }}</td>
                        <td>{{ voucheradmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'voucherreview' voucheradmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

                {% for retirementadmin in retirementsadmin %}
                {% if retirementadmin.status == "Approved" %}
                    <tr>
                        <td>{{ retirementadmin.ID }}</td>
                        <td>Retirement</td>
                        <td>{{ retirementadmin.date }}</td>
                        <td>{{ retirementadmin.createdby }}</td>
                        <td><a class="btn btn-primary" href="{% url 'retirementreview' retirementadmin.ID %}" >Review</a></td>
                    </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}
{% endif %}


{% endblock %}