{% extends "CashTracker/base.html" %}
{% load static %}

{% block dashboard %}
    <a href="{% url 'dashboard' %}" class="icon btn btn-primary w-100 text-start m-1">
        <img src="{% static 'CashTracker/icons/dashboard.svg' %}" alt="dashboard">
        <p class="d-inline"> Dashboard </p>
    </a>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between container-fluid w-100 mx-0 p-0">
    <div class="container-fluid border-start border-4 border-primary bg-white w-25 m-3 rounded">
        <p>Forms Sent Back</p>
        <p class="fw-bold">0</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-white w-25 m-3 rounded">
        <p>Authorised Forms</p>
        <p class="fw-bold">0</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-white w-25 m-3 rounded">
        <p>Rejected Forms</p>
        <p class="fw-bold">0</p>
    </div>

    <div class="container-fluid border-start border-4 border-primary bg-white w-25 m-3 rounded">
        <p>In Process</p>
        <p class="fw-bold">0</p>
    </div>
</div>

<div class="container-fluid table-responsive border-primary bg-white w-100 m-3">
    <h3>Authorised Forms</h3>
    <p>Forms that have been fully approved and authorised</p>
    <table class="table table-striped table-bordered table-hover p-0" style="width: 98%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Date Authorised</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Requisition</td>
                <td>5677</td>
                <td>To organise things</td>
                <td>20 May</td>
                <td>Pending</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}