{% extends "CashTracker/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block retirement %}
    <a href="{% url 'retirement' %}" class="icon btn btn-primary w-100 text-start m-1">
        <img src="{% static 'CashTracker/icons/add.svg' %}" alt="dashboard">
        <p class="d-inline"> New Cash Retirement </p>
    </a>
{% endblock %}

{% block content %}
    <div class="m-3 overflow-y-auto overflow-x-hidden  border-start border-4 border-primary rounded shadow" style="height: 85%; width: 98%;">
        <div class="d-flex justify-content-between">
            <div class="m-3">
                <p class="m-0 fw-bold text-primary">CCDO CASH RETIREMENT FORM</p>
                <P class="m-0">Chipembere Community Development organisation</P>
                <p class="m-0">Account: CHIPEMBERE COMMUNITY DEVELOPMENT ORGANISATION</p>
                <P class="m-0">Account Number: 10033647388364</P>
            </div>

            <div class="text-end text-primary m-4 rounded">
                <p class="border border-primary p-1 rounded">Cash Retirement</p>
            </div>
        </div>

        <form class="bg-white border-primary" method="POST">
            {% csrf_token %}
            <div class="mx-3">
                <p class="text-end me-3 fw-bold">Retirement No: CR-76560</p>
            </div>

            <div class="d-flex justify-content-between">
                <div class="w-50 mx-3">
                    <!-- <label for="voucher" class="form-label">Voucher</label>
                    <input type="text" id="voucher" class="form-control"> -->

                    <label for="{{ form.voucherid.id_for_label }}" class="form-label d-block">Voucher</label>
                    {{ retirement_form.voucherid|add_class:"form-control"|attr:"id:voucherid" }}
                    {{ retirement_form.voucherid.errors }}

                    <label for="date" class="form-label">Date</label>
                    <input type="date" id="date" class="form-control">    
                </div>

                <div class="w-50 mx-3">
                    <!-- <label for="requisition" class="form-label">Requesition</label>
                    <input type="text" id="requisition" class="form-control"> -->

                    <label for="{{ form.requisitionid.id_for_label }}" class="form-label d-block">Requisition</label>
                    {{ retirement_form.requisitionid|add_class:"form-control"|attr:"id:requisitionid"|attr:"readonly:readonly" }}
                    {{ retirement_form.requisitionid.errors }}

                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" id="amount" class="form-control" readonly>
                    
                </div>

            </div>

            <div class="d-flex justify-content-between mx-3 my-1 py-0">
                <div class="fw-bold">Cash Used For</div>
                <div class="btn btn-primary me-3">Add Expense</div>
            </div>

            <div class="d-flex m-3 bg-white rounded w-100 my-0 py-0">
                <table class="table table-striped table-bordered table-hover p-0" style="width: 97%;">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody id="tablebody">
                        <!-- <tr id="tablerow">
                            <td><input type="text" class="form-control"></td>
                            <td><input type="number" step="0.001" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between m-3">
                <div class="w-25 bg-success rounded">
                    <p class="text-center">Total Used</p>
                    <p class="fw-bold text-center" id="used">MWK 0.00</p>
                </div>

                <div class="w-25 bg-primary rounded">
                    <p class="text-center">Amount Requested</p>
                    <p class="fw-bold text-center" id="requested">MWK 0.00</p>
                </div>

                <div class="w-25 bg-danger rounded">
                    <p class="text-center">Balance</p>
                    <p class="fw-bold text-center" id="balance">MWK 0.00</p>
                </div>
            </div>

            <div class="m-3 fw-bold fs-5">Required Attachments</div>

            <div class="d-flex justify-content-between m-3">
                <div class="w-50 me-3">
                    <div class="bg-success w-100 rounded">
                        <p>Proof of Payment</p>
                        <p>Not Uploaded</p>
                    </div>

                    <div class="bg-success w-100 rounded">
                        <p>Participarts Payment Form</p>
                        <p>Not Uploaded</p>
                    </div>
                </div>

                <div class="w-50">
                    <div class="bg-success w-100 rounded">
                        <p>Receipts</p>
                        <p>Not Uploaded</p>
                    </div>

                    <div class="bg-success w-100 rounded">
                        <p>Cash Payment Form</p>
                        <p>Not Uploaded</p>
                    </div>
                </div>
            </div>

            <div class="m-3">
                <button type="submit" class="d-flex btn text-white bg-danger ms-auto">Submit Retirement</button>
            </div>
            
        </form>
        <!-- <div class="h-25"></div> -->
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const voucherselect = document.getElementById('voucherid');
            voucherselect.addEventListener('change', function(){
                const voucherid = this.value;
                if (voucherid){
                    fetch(`/retirement/${voucherid}/`)
                        .then(response => response.json())
                        .then(data =>{
                            document.getElementById('requisitionid').value = data.requisitionid;
                            document.getElementById('amount').value = data.amount;
                            document.getElementById('requested').textContent = 'MWK' + data.amount.toFixed(2);
                            const items = data.item_list;
                            for (const item of items){
                                const row = `
                                    <tr id="tablerow">
                                        <td><input type="text" class="form-control" value="${item.itemname || ''}" readonly></td>
                                        <td><input type="number" step="0.001" class="form-control" value="${item.unitprice || ''}" readonly></td>
                                        <td><input type="number" step="0.001" class="form-control" value="${item.quantity || ''}" readonly></td>
                                        <td><input type="number" step="0.001" class="form-control" value="${item.totalprice || ''}" readonly></td>
                                        <td><button type="button" class="btn btn-outline-none" onclick="this.closest('tr').remove(); updateGrandTotal()"><img src="{% static 'CashTracker/icons/delete.svg' %}" alt="delete"></button></td>
                                    </tr>`
                                document.getElementById('tablebody').insertAdjacentHTML('beforeend', row);
                                // updateGrandTotal();
                            }
                        });
                }
                else {
                    document.getElementById('requisitionid').value = '';
                    document.getElementById('amount').value = '';
                    document.getElementById('requested').textContent = 'MWK 0.00';
                }
            });
        });

        

    // function updateGrandTotal(){
    //     let sum = 0;
    //     document.querySelectorAll('.totalprice').forEach(function(input){
    //         let val = parseFloat(input.value) || 0;
    //         sum += val;
    //     })
    //     document.getElementById('grandtotal').textContent = 'Grand Total: K' + sum.toFixed(2);
    // }
    </script>
{% endblock %}