{% extends "CashTracker/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block voucher %}
<a href="{% url 'voucher' %}" class="icon btn btn-primary w-100 text-start m-1">
    <img src="{% static 'CashTracker/icons/add.svg' %}" alt="dashboard">
    <p class="d-inline"> New Payment Voucher </p>
    </a>
{% endblock %}

{% block content %}
    <div class="m-3 w-100 border-start border-4 border-primary rounded shadow">
        <div class="d-flex justify-content-between">
            <div class="m-3">
                <p class="m-0 fw-bold text-primary">CCDO CASH PAYMENT VOUCHER</p>
                <P class="m-0">Chipembere Community Development organisation</P>
                <p class="m-0">Account: CHIPEMBERE COMMUNITY DEVELOPMENT ORGANISATION</p>
                <P class="m-0">Account Number: 10033647388364</P>
            </div>

            <div class="text-end text-primary m-4 rounded">
                <p class="border border-primary p-1 rounded">Payment Voucher</p>
            </div>
        </div>

        <form class="bg-white border-primary" method="POST">
            {% csrf_token %}

            <div class="mx-3">
                <p class="text-end me-3 fw-bold">Voucher No: PV-76560</p>
            </div>
            

            <div class="d-flex justify-content-between">
                <div class="w-50 mx-3">
                    <label for="{{ form.requisitionid.id_for_label }}" class="form-label d-block">Requisition</label>
                    {{ voucher_form.requisitionid|add_class:"form-control"|attr:"id:requisitionid" }}
                    {{ voucher_form.requisitionid.errors }}

                    <!-- <label for="requisition" class="form-label mb-0">Requisition</label>
                    <input type="text" id="requisition" class="form-control"> -->

                    <label for="date" class="form-label mb-0">Date</label>
                    <input type="date" id="date" class="form-control" readonly>
                    
                </div>

                <div class="w-50 mx-3">
                    <label for="dpt" class="form-label mb-0">Department</label>
                    <input type="text" id="dpt" class="form-control" readonly>  
                    
                    <label for="amount" class="form-label m-0">Amount (MWK)</label>
                    <input type="number" id="amount" step="0.001" class="form-control m-0" readonly> 
                </div>
            </div>

           
            
            <!-- <label for="purpose" class="form-label ms-3 mb-0">Purpose</label>
            <textarea type="text" id="purpose" class="form-control mx-3" rows="5"></textarea> -->

            <label for="{{ form.purpose.id_for_label }}" class="form-label d-block mx-3">Purpose</label>
            {{ voucher_form.purpose|add_class:"form-control mx-3" }}
            {{ voucher_form.purpose.errors }}
          

            <div class="m-3">
                <button type="submit" class="d-flex btn btn-primary ms-auto me-3 mb-3">Submit Voucher</button>
            </div>
            
        </form>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const reqselect = document.getElementById('requisitionid');
            reqselect.addEventListener('change', function(){
                const reqid = this.value;
                if (reqid){
                    fetch(`/voucher/${reqid}/`)
                        .then(response => response.json())
                        .then(data =>{
                            document.getElementById('dpt').value = data.department;
                            document.getElementById('amount').value = data.amount;
                        });
                }
                else {
                    document.getElementById('dpt').value = '';
                    document.getElementById('amount').value = '';
                }
            });
        })
    </script>
{% endblock %}